.header-nav {
    display: none;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 963px;
}

.contact-form__heading {
    margin-bottom: 35px;
    text-align: center;
    color: #8B7969;
}

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    border: solid 2px red;
}

.form__group-title {
    width: 300px;
    text-align: left;
    margin-right: 10px;
}

.form__label--item {
    font-size: 20px;
    color: #8B7969;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    font-size: 20px;
    color: #FF9494;
}

.form__group-content {
    color: #8B7969;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text .form__input--textarea {
    width: 619px;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 619px;
    appearance: none;
    height: 38px;
    background-color: #F4F4F4;
    font-size: 14px;
    border: none;
}

.form__input--name {
    display: flex;
    justify-content: space-between;
    width: 619px;
}

.form__input--name input {
    width: 287px;
    display: block;
    background-color: #F4F4F4;
    height: 38px;
    font-size: 14px;
}

input::placeholder {
    color: #BEB1A6;
}

.form__input--tel {
    display: flex;
    justify-content: space-between;
    width: 619px;
}

.form__input--tel input {
    width: 178px;
    display: block;
    background-color: #F4F4F4;
    height: 38px;
    font-size: 14px;
    text-align: center;
}

.form__input--tel p {
    font-size: 20px;
    color: #8B7969;
    text-align: center;
    border: #ff0000 solid 1px;
    padding-top: 0px;
}

.form__input--textarea textarea {
    height: 129px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}