body {
    background-color: #F1ECE7;
}

.header-nav__link-register {
    display: none;
}

.header-nav__link-logout {
    display: none;
}

.register__heading {
    margin-top: 56px;
    margin-bottom: 56px;
    height: 46px;
    line-height: 46px;
    font-size: 35px;
    text-align: center;
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
}

.form {
    margin: 0 auto;
    width: 736px;
    height: 579px;
    padding-top: 51px;
    border: solid 1px #C5B9B0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.form__group {
    width: 445px;
    height: 102px;
    margin: 47px auto 0 auto;
    box-sizing: border-box;
}

.form__group-title {
    width: 100%;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 14px;
}

.form__label--item {
    font-size: 25px;
    color: #8B7969;
}

.form__group-content {
    color: #8B7969;
    width: 100%;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    appearance: none;
    height: 50px;
    background-color: #F4F4F4;
    font-size: 14px;
    border: none;
}

input::placeholder {
    color: #BEB1A6;
}

.form__button {
    margin-top: 95px;
    width: 100%;
    text-align: center;
}

.form__button-submit {
    width: 160px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}